Data Science Tools

This notebook summarizes popular languages, libraries, and tools used in Data Science.  
It also demonstrates simple arithmetic operations and unit conversions.

 Popular Data Science Languages
- Python  
- R  
- SQL  
- Julia  
- Scala

Common Data Science Libraries
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- PyTorch

Data Science Tools

| Tool            | Category          |
|-----------------|-------------------|
| Jupyter Notebook| Interactive coding|
| RStudio         | IDE for R         |
| Apache Spark    | Big Data engine   |
| Tableau         | Visualization     |

Arithmetic Expression Examples
Below are examples of using Python to perform basic math operations such as multiplication and addition.

In [4]:
result = (1*2) + 3
result

5

In [5]:
minutes = 120
hours = minutes/60
hours

2.0

Objectives
- List popular languages for Data Science
- Identify key libraries and tools
- Demonstrate arithmetic operations
- Convert minutes to hours using Python

Amit Kumar Jana