Data Science Tools and Ecosystem

This notebook summarizes popular languages, libraries, and tools used in Data Science.  
It also demonstrates simple arithmetic operations and unit conversions.

Popular Data Science Languages

Python
R
SQL
Scala
Java
C++
Julia
JavaScript
PHP
Go
Ruby
Visual Basic

Common Data Science Libraries

Pandas

Numpy

Matplotlib

Seaborn

Scikit-learn

Keras

TensorFlow

PyTorch

Apache Spark

Vegas

Big DL

Ggplot2

Data Science Tools

| Tool            | Category          |
|-----------------|-------------------|
| Jupyter Notebook| Interactive coding|
| RStudio         | IDE for R         |
| Apache Spark    | Big Data engine   |
| Tableau         | Visualization     |

Below are examples of using Python to perform basic math operations such as multiplication and addition.

In [6]:
#arithmetic operation sum
result = (3*4) + 5
result

17

In [7]:
#arithmetic operation division
minutes = 200
hours = minutes/60
hours

3.3333333333333335

Objectives
- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

Lakshmi Holla

Nivedita Pandith